
    <div class="container-fluid firstdiv">
      <div>
        <div class="container ">
          <div class="row ">
  
            <div class="col-md-6 contdiv1">
              <video width="400" height="300" controls>
               
                <source src="bakGrounVid.mp4" type="video/mp4">
                <!-- <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4> -->
              </video>
            </div>
            <div class="col-md-6 contdiv2 form-group row">
              <h1 id="midtext">Get a FREE Home Value Report</h1>
              <h2>Enter your home address to get a free Home Value report!</h2>
  
              <div class="input-group flex-nowrap">
              
                <form type="text">
  
                  <div class="col-xs-6">
                    <input class="form-control" placeholder="Enter your home address" id="ex3" type="text">
                  </div>
                 
                </form> 
              </div>
            </div>
  
  
  
          </div>
  
        </div>
  
      </div>
  
  
    </div>
  
    <div class="carddiv">
  
  
      <div class="card-deck">
        <div class="card cardbox">
          <img class="card-img-top" src="../assets/img/buy.jpg" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title"> <a href="http://localhost:4200/buyHome">Buy our Home</a> </h1>
            <p class="card-text">Check out our current projects to see our m=homes for sale and coming soon. One of them
              may be perfect for you</p>
          </div>
          <div class="mx-auto"id="accordionExample"style=" align-items: center;" >
         
             
            <div class="mx-auto"id="headingTwo"  >
             
                <button class=" collapBtn collapsed"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  More
                </button>
             
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
        
        </div>
        </div>
        <div class="card cardbox">
          <img class="card-img-top" src="../assets/img/sell.jpg" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title"> <a href="http://localhost:4200/sellHome">Sell Your Home</a> </h1>
            <p class="card-text">We work with homeowener all over the Wake County Area with a variety of circumstance.Let
              us show you how we can help you with a one-on-one conversation to analyze your situation</p>
          </div>
          <div class="mx-auto"id="accordionExample"style=" align-items: center;" >
         
             
            <div class="mx-auto"id="headingTwo"  >
             
                <button class=" collapBtn collapsed"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  More
                </button>
             
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
        
        </div>
        </div>
        <div class="card cardbox">
          <img class="card-img-top" src="../assets/img/team.jpg" alt="Card image cap">
          <div class="card-body" style="margin-bottom: 30px;">
            <h1 class="card-title"> <a href="http://localhost:4200/aboutUs">Our Team</a> </h1>
            <p class="card-text">meet team behind who will take care of you through out your journey with us</p>
          
          </div>
          
            <div class="mx-auto"id="accordionExample"style=" align-items: center;" >
         
             
                <div class="mx-auto"id="headingTwo"  >
                 
                    <button class=" collapBtn collapsed"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      More
                    </button>
                 
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
            
            </div>

         
        </div>
      </div>
  
      <div class="container">
        <h1 class="carouseltitle">Property Showcase</h1>
        <div class="container6">
  
          <div class="carousel">
           
            <div class="carousel__face sold"><span>SOLD</span></div>
            <div class="carousel__face forSale"><span>For Sell</span></div>
            <div class="carousel__face forRent"><span>For Rent</span></div>
            <div class="carousel__face sold"><span>Sold</span></div>
            <div class="carousel__face sold"><span>Sold</span></div>
            <div class="carousel__face forSale"><span>For Sell</span></div>
            <div class="carousel__face forSale"><span>For Sell</span></div>
            <div class="carousel__face forRent"><span>For Rent</span></div>
            <div class="carousel__face forSale"><span>For Sell</span></div>
          </div>
        </div>
      </div>
  
  
    </div>
  
    <div class="testimonials-clean ">
      <div class="container">
        <div class="intro">
          <h2 class="text-center testHeader">Testimonials </h2>
          <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula.
            Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row testcont">
          <div class="col-md-4 col-lg-4 item">
            <div class="box">
              <p class="description">"A great experience from start to finish. thank you for your help with finding out
                new home andassisting us with starting our nect chapter. many thanks"</p>
            </div>
            <div class="author"><img class="rounded-circle" style="width: 170px;" src="../assets/img/buyer.jpg">
              <h5 class="name">Ben J.</h5>
              <p class="title">Buyer</p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 item">
            <div class="box">
              <p class="description">"Thank you so much for yuur help with selling our investment property. i didnt think
                it could be as easy as it was, specially with us living across the U.S thank you for your communication
                sincerely appreciated"</p>
            </div>
            <div class="author"><img class="rounded-circle  " src="../assets/img/Investor.jpg"  >
              <h5 class="name">Carl K.</h5>
              <p class="title">Investor</p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 item">
            <div class="box">
              <p class="description"> "Love this group! not often do you see this mixture of great minds and
                personalities! I love my new place! thank you so much" </p>
            </div>
            <div class="author"><img class="rounded-circle" src="../assets/img/buyer.jpg">
              <h5 class="name">Emily C.</h5>
              <p class="title">Seller</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-3 aboutus">
          <h1 class="aboutusHeader"> Learn More About </h1>
          <h1 class="aboutusHeader">Who We Are</h1>
        
          <p> Glorious Home Solutions is one of the premier real estate solutions company in the wake area, and since our inception, we have been helping homeowners along with improving communities in wach and every city we work in.</p>
       </div>
       
      </div>
  
    </div>
    <div class="spacing">
      
    </div>
  
  
  
      

