<body class="container-fluid background">
    <div class="container-fluid   mx-auto">
        <div class="row">
            <div class="col-md-12 contdiv1">
                <h1>Sell us your Home</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="mx-auto text-center" style="color: white; ">Sell Your Home to us!! <br>
                    We buy it Quick and its Cash</h1>
                <div>
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <img style="align-items: center;width: 600px;" class="picStyle"
                                src="../../assets/img/showcase1.jpg" alt="">
                        </div>
                    </div>
                    <p class="contacts">We buy howses in any condition and all price tanges!!
                        <br>
                        Contact us today to discuss your property. <br>
                        Email Us : <a href=""> ghomesolu@gmail.com</a>
                        <br>
                        Call : 919-480-1940 <br>
                    </p>
                </div>
            </div>
        </div>
        <!-- issue starts here -->
        <div class="row">
            <div class="col-md-12 contdiv2">
                <h1>How it Works </h1>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-6 boxtext  ">
                <h1 class="text-center" style="color: rgba(19, 3, 94, 0.973);">Step 1</h1>
                <h1 class="text-center"style="color: rgba(19, 3, 94, 0.973);">Contact US</h1>
                <img src="../../assets/img/contact.jpg" class="picStyle">
                <p style="color: rgba(19, 3, 94, 0.973);">Call or Email Us with your contact information and any information about the property you
                    want to sell</p>
            </div>
            <div class="col-md-6 boxtext">
                <h1 style="color: rgba(19, 3, 94, 0.973);">
                    Step 2 <br>
                    Deal Analysing
                </h1>

                <img src="../../assets/img/analysis.jpg" class="picStyle">
                <p style="color: rgba(19, 3, 94, 0.973);"> We will discuss the property with you and do an in person walkthrough.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
            </div>
            <div class="col-md-6 boxtext">
                <h1 style="color: rgba(19, 3, 94, 0.973);"> Step 3 <br>
                    Offer Presentation
                </h1>
                <img src="../../assets/img/discuss.jpg" class="picStyle">
                <p style="color: rgba(19, 3, 94, 0.973);">After we do our analysis of the property, we will present you with an offer. You may accept
                    or reject this offer with no pressure.</p>
            </div>
            <div class="col-md-6 boxtext">
                <h1 style="color: rgba(19, 3, 94, 0.973);">Step 4 <br>
                    You get Pay!!! We get the house
                </h1>
                <img src="../../assets/img/cash.jpg" class="picStyle">
                <p style="color: rgba(19, 3, 94, 0.973);"> If you accept the offer then it's time to "get the cash"!</p>
            </div>
        </div>
        <div class="col-md-12 contdiv2">
            <h1>We can also contact you </h1>
        </div>
        <!-- <div class='bold-line'></div> -->
        <div class='container2'>
            <div class='window'>
                <div class='overlay'></div>
                <div class='content'>
                    <div class='welcome'>Hello There!</div>
                    <div class='subtitle'>If you want to sell us your house fill this up and we will contact you
                    </div>
                    <div class='input-fields'>
                        <input type='text' placeholder='First name' class='input-line full-width'>
                        <input type='text' placeholder='Last name' class='input-line full-width'>
                        <input type='email' placeholder='email' class='input-line full-width'>
                        <input type='text' placeholder='Phone Number' class='input-line full-width'>
                        <button class='ghost-round full-width'>Submit</button>
                    </div>
                    <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
                    <div></div>
                </div>
            </div>
        </div>

    </div>
    <div class="spacing">
    </div>
</body>