.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    size: cover;
}

.video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; 
}

.video .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
   
}
.con{
    padding-top: 150px;
}
.body{
    background-color: rgba(228, 214, 214, 0.801);
}

.firstdiv{
    background-image: url("../buy-home/media/video/buyback.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* search bar */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

/* html, body {
  width: 100%;
  height: 100%;
} */

.flexbox {
  /* background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed); */
  width: 100%;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
padding-top: 50px;
padding-bottom: 50px;
 
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: bold;
}

.search > h1,
.search > h3 {
  color: rgba(66, 5, 139, 0.897);
  margin-bottom: 15px;
  text-shadow: 0 1px #3006ec00;
  font-weight: bold;
  font-size: 30px;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: rgba(23, 1, 75, 0.897);
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: rgba(23, 1, 75, 0.897);
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px rgba(23, 1, 75, 0.897);
  outline: none;
  border-radius: 85px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: rgba(66, 5, 139, 0.897);
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 600px;
  height: 50px;
}


/* end of searchbar */
.contdiv1{
    margin-top: 120px;
    margin-bottom: 20px;
    color: rgba(244, 246, 248, 0.993);  
  border-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: rgb(240, 0, 0);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
    width: 950px;
    padding-top: 10px;
 margin-left: 60px;
}

.contdiv2{
    margin-top: 120px;
    margin-bottom: 20px;
    color: rgba(244, 246, 248, 0.993);  
    border-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: rgb(240, 0, 0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 50px;
}

.textSt{
    padding-left: 60px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-shadow: rgba(19, 1, 5, 0);
}


.button1 {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #061fff;
  border: none;
  color: #fff;
  padding: 20px;
  width: 600px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 19px;
}

/* .button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
} */

.button1:after {
  content: "";
  background: #eeff02;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; 
}


.button1:focus { outline:0; }

.mButton{
  justify-content: center;
  align-items: center;
  display: flex;

  text-align: center;
  padding-bottom: 50px;

}
.ourList{
  font-size: 40px;
  text-align: center;
  color: #0004fc9d;
  padding-bottom: 20px;
  font-weight: bold;
}
.lastdiv{
  font-size: 20px;
  color: rgb(3, 3, 3);
  font-weight:bold;
  text-align: center;
  align-content: center;
  align-items: center;
  padding-bottom: 150px;
  padding-top: 150px;
  background-color: rgb(216, 211, 211);
  
}
.lastH1{
  align-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
.lastp{
  text-align: center;
}
.mButton2{
  justify-content: center;
  align-items: center;
 display: inline;

  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 320px;
  background-color: rgba(13, 13, 241, 0.562);
  box-shadow: 0 5px 15px #193047;
  border-radius: 19px;
  color:#fff ;

}

.footerMain{ 
  background-color: #000000;

  bottom: 0;
  width: 100%;
 
}
.footerTitle{
  font-size: 20px;
  font-weight: 500;
  color: rgb(130, 46, 240);
}
.footerLinks{
  color: aliceblue;
  
}

.modal-body{
  width: 220px;
}


