
<nav class="navbar fixed-top navbar-expand-lg navbartop ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><img src="../assets/img/logo2.svg" width="125" alt=""></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['buyHome']" >Buy A Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['sellHome']">Sell Your Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['rentals']">Rentals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['aboutUs']"tabindex="-1"> About Us </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2 inputbar " type="search" placeholder="Search..." aria-label="Search">
     
    </form>
  </div>
</nav>





  

<!-- Footer  fixed-bottom    -->
<footer class="page-footer fixed-bottom footerMain font-small blue pt-4  ">

  <!-- Footer Links -->

  <div class="container-fluid text-center text-md-left ">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-12">
        
      </div>
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase footerTitle">Footer Content</h5>
        <p class="footerLinks" >Here you can use rows and columns here to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

      <!-- Grid column  x
      int x=2 -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase footerTitle">More</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footerLinks"  [routerLink]="['buyHome']">Buy from Us</a>
          </li>
          <li>
            <a class="footerLinks"  [routerLink]="['sellHome']">Sell your Home</a>
          </li>
          <li>
            <a class="footerLinks"  [routerLink]="['rentals']">Rentals</a>
          </li>
          <li>
            <a class="footerLinks"  [routerLink]="['aboutUs']">About Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase footerTitle">Follow us on</h5>

        <ul class="list-unstyled ">
          <li>
            <a class="footerLinks" href="#!">FaceBook</a>
          </li>
          <li>
            <a class="footerLinks"  href="#!">Instagram</a>
          </li>
          <li>
            <a class="footerLinks"  href="#!">Snap</a>
          </li>
          <li>
            <a class="footerLinks"  href="#!">YouTube</a>
          </li>
        </ul>

      </div>
      <!-- Grid column hhhhhhhh-->

    </div>
    <!-- Grid row kkkkkk-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footerLinks ">© 2021 Copyright:
    <a class="footerLinks"  [routerLink]="['home']"> Glorious Homes Solutions</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->






<router-outlet></router-outlet>
