<div class="container-fluid firstdiv">
  <!-- //////////////////////////////////////
        /////////////////////////////// -->
  <!-- video back ground not working properly  -->
  <!-- /////////////////
       //////////////////
       //////////////////////////////// -->
  <!-- <iframe src="https://player.vimeo.com/video/76979871?background=1&autoplay=1&loop=1&byline=0&title=0"
            frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div>
            <div class="container-fluid overlay">
                <div class="row ">
                    
    
                    <div class="col-md-6 con">
                    </div>
                    <h1 class="con">hhhhhhhhjh</h1>
    
                    <div>
    
                        <p>dsfhafahefeafafefawfeaef</p><br>
                        pfafaefaefaawfefafefaefafeafaefae <br> <br> <br>
                    </div>
                </div>
    
            </div>
    
        </div> -->
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12">

        <div class="flexbox">
          <div class="search">
            <h1>Search this site</h1>
            <h3>Click on search icon, then type your keyword.</h3>
            <div>
              <input type="text" placeholder="Find your Home, Enter a City, Neighborhood or Zip Code . . ." required>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


  <div class="container-fluid ">
    <div class="row ">

      <h1 class="contdiv1 ourList"> OUR CURRENT LINSTING</h1>


      <div class="col-md-8 textSt">
        <p>
          With our proprietary marketing systems we find the best deep discount properties in foreclosure,
          handyman deals, fixer uppers, <br> discount homes, distressed properties, and buy them at great
          win-win prices
          for both us and the home seller. We then pass these <br> deals along to our preferred buyers who
          are looking for
          great investment properties or for just a great house to live in. <br> <br>

          Once we secure a new property that fits our criteria, we immediately notify our Preferred Buyers
          of the deal. <br><br>

          There’s excellent investment property buying opportunity in today’s market. Properties which are
          far below
          market <br> value are added to our list in a consistent bases… and they tend to get picked up
          extremely quick. <br><br>

          So, are you interested in getting on our Preferred Buyers List (it’s free!) so you can be
          notified of each
          new discount home <br> or investment property available?
        </p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/img/logo2.svg" alt="">

      </div>




    </div>


    <div class="row ">
      <div class="col-md-6 offset-3  mButton ">
        <button type="button" class="button1" data-toggle="modal" data-target="#info" data-whatever="@mdo">Click to get
          added into our buyerslist</button>




        <div class="modal fade " id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"
              style="align-items: center;margin-left: 500px;background-color: rgb(250, 221, 221); margin-top:50px; height: 470px;">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Buyer's info</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" novalidate>
                <form class="needs-validation">
                  <div class="form-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" class="form-control" id="first-name" style="height: 30px;" required>
                  </div>
                  <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" class="form-control" id="last-name" style="height: 30px;" required>
                  </div>

                  <div class="form-group">
                    <label for="add-name">Email address:</label>
                    <input type="text" class="form-control" id="add-name" style="height: 30px;" required>
                  </div>
                  <div class="form-group">
                    <label for="phn-name">Phone number</label>
                    <input type="text" class="form-control" id="phn-name" style="height: 30px;" required>
                  </div>
                  <div class="form-group">
                    <label for="comp-name">Company name</label>
                    <input type="text" class="form-control" id="comp-name" style="height: 30px;" required>
                  </div>
                  <label for="message-text">Message:</label>
                  <textarea class="form-control" style="height: 70px;" id="message-text"></textarea>

                </form>
              </div>
              <div class="modal-footer" style="margin-top: 1px;">
                <button type="button" style="margin-bottom: 10px;width: 130px;" class="btn btn-secondary"
                  data-dismiss="modal">Close</button>

                <!-- <button style="margin-left: 50px; width: 130px; margin-bottom: 10px;" type="button"
                  class="btn btn-primary">Send message</button> -->
                <button type="button" style="margin-left: 50px; width: 130px; margin-bottom: 10px;"
                  class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>


                <div class="modal fade bd-example-modal-sm"
                  style="align-items: center;margin-left: 600px;margin-top:150px;  " tabindex="-1" role="dialog"
                  aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <h1 style="color: rgb(248, 1, 1);"> Congratulations !!!</h1> You have officially been added to our
                      Buy's list. <br> you may close both windows now
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>






        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid lastdiv ">
    <div>
      <h1 class="lastH1"> WE HAVE A BETTER , FASTER 7 EASIER WAY </h1>


      <p class="lastp"> Glorious Home Solution is a real estate investment company, we are full-time prperty
        investors in Wake County and specialize in finding those hidden house deals that you normally only hear
        about... usually at 30-50% off retail value</p>
    </div>

    <div class="container">
      <h2>Fill out the free quote</h2>
      <!-- <form action="/action_page.php"> -->
       
          <div class="row">
            
     
          
        
      <form  class="mx-auto" style="align-items: center;">

        <div class="form-group ">
          <label for="text" style="margin-right: 220px;margin-bottom: 10px;">First and Last:</label>
          <input type="text" class="form-control mx-auto" style="width: 350px; margin-left: 1240px; margin-bottom: 10px;"
            id="email" placeholder="Enter Full Name" name="email">
        </div>
        <div class="form-group ">
          <label for="text" style="margin-right: 210px;margin-bottom: 10px;">Phone Number:</label>
          <input type="text" class="form-control  mx-auto" style="width: 350px; margin-left: 540px;margin-bottom: 10px;"
            id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group ">
          <label for="email" style="margin-right: 290px;margin-bottom: 10px;">Email:</label>
          <input type="email" class="form-control mx-auto" style="width: 350px; margin-left: 540px;margin-bottom: 10px;"
            id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group ">
          <label for="email" style="margin-right: 110px;margin-bottom: 10px;">House Address You want:</label>
          <input type="email" class="form-control mx-auto" style="width: 350px; margin-left: 540px;margin-bottom: 10px;"
            id="email" placeholder="Enter email" name="email">
        </div>

        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->


        <button type="button" style="margin-left: 35px;" class="mButton2" class="btn btn-primary" data-toggle="modal"
          data-target=".bd-exampley-modal-sm">Submit</button>


        <div class="modal fade bd-exampley-modal-sm" style="align-items: center;margin-left: 600px;margin-top:150px;  "
          tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              Your request has been received <br>
              Your Free quate will be email to you within 24H thank you
            </div>
          </div>
        </div>


      </form>
    </div>
    </div>

    <!-- <button class="mButton2"> GET MY CASH OFFER NOW!!</button> -->

  </div>
  <div class="row">
    <div class="col-md-6 offset-3">

    </div>
  </div>






  <!-- Footer  fixed-bottom    -->
  <footer class="page-footer footerMain font-small blue pt-4  ">

    <!-- Footer Links -->

    <div class="container-fluid text-center text-md-left ">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase footerTitle">Footer Content</h5>
          <p class="footerLinks">Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase footerTitle">More</h5>

          <ul class="list-unstyled">
            <li>
              <a class="footerLinks" [routerLink]="['buyHome']">Buy from Us</a>
            </li>
            <li>
              <a class="footerLinks" [routerLink]="['sellHome']">Sell your Home</a>
            </li>
            <li>
              <a class="footerLinks" [routerLink]="['rentals']">Rentals</a>
            </li>
            <li>
              <a class="footerLinks" [routerLink]="['aboutUs']">About Us</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase footerTitle">Follow us on</h5>

          <ul class="list-unstyled ">
            <li>
              <a class="footerLinks" href="#!">FaceBook</a>
            </li>
            <li>
              <a class="footerLinks" href="#!">Instagram</a>
            </li>
            <li>
              <a class="footerLinks" href="#!">Snap</a>
            </li>
            <li>
              <a class="footerLinks" href="#!">YouTube</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 footerLinks ">© 2021 Copyright:
      <a class="footerLinks" [routerLink]="['home']"> Glorious Homes Solutions</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->